<wps:StatusInfo xmlns:ows="http://www.opengis.net/ows/2.0"
  xmlns:wps="http://www.opengis.net/wps/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.opengis.net/wps/2.0 ../wps.xsd">
  <wps:JobID>${jobId}</wps:JobID>
  <wps:Status>${status}</wps:Status>
  <wps:NextPoll>${nextPoll}</wps:NextPoll>
</wps:StatusInfo>