<?xml version="1.0" encoding="utf-8"?>
<ows:ExceptionReport version="1.0.0" 
xmlns:ows="http://www.opengis.net/ows/1.1" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.opengis.net/ows/1.1 http://schemas.opengis.net/ows/1.1.0/owsExceptionReport.xsd">
        <ows:Exception exceptionCode="${code}" />
</ows:ExceptionReport>